.tagline {
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    margin-top: 10px;
    font-weight: normal;
    font-size: 1em;
}

.bg-image {
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    background-image: url('../images/bg-progressive.jpg');
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-container {
    padding: 0;
}

.logo {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    text-indent: -9999px;
    &--home {
        margin-top: 10%;
        background-position: center;
    }
    &--post {
        height: 8vh;
        background-position: left;
    }
}

nav a {
    padding: 0 20px;
}
