@import "./settings";

main {
    padding: 50px;
    @media (max-width: $mobile) {
        padding: 25px;
    }
}

.post-image {
    max-width: 30vw;
    @media (max-width: $mobile) {
        max-width: 75vw;
    }
}

.author-image {
    border-radius: 50%;
    width: 50px;
}

.image-container {
    overflow: hidden;
    text-align: center;
}

.title-link {
    color: $gray;
    font-size: 2rem;
    padding: 5px 0;
    display: block;
        &:hover {
            color: $dd-blue;
        }
}

.date {
    color: $lt-gray;
    font-weight: lighter;
    padding-bottom: 15px;
}

.excerpt {
    font-size: 1.2rem;
    @media (max-width: $mobile) {
        line-height: 1.6rem;
    }
}

.home {
    .post {
        padding: 20px 0;
        @media (max-width: $mobile) {
            padding: 10px 0;
        }
        &:hover {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }
    }
}

main.home {
    .site-navigation {
        text-align: center;
        padding-bottom: 15px;
        i {
            font-size: 2rem;
            display: block;
        }
        .blog {
            color: $twitter;
            &:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }
        }
        .social-posts {
            color: $fb;
            &:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }
        }

        .search {
            margin-top: 20px;
            width: 30%;
            form {
                i {
                    display: inline-block;
                    font-size: 1.5em;
                    top: 7px;
                    left: 5px;
                    position: relative;
                    cursor: pointer;
                    color: $lt-gray;
                    &:hover {
                        color: $dd-blue;
                    }
                }
                input {
                    transition: width 1s ease-in-out;
                    outline: none;
                    border: 2px solid $lt-gray;
                    width: 25%;
                    @media (max-width: $mobile) {
                        width: 50%;
                    }
                    padding: 5px;
                    font-size: 1em;
                    &:focus {
                        border: 2px solid $dd-blue;
                        width: 50%;
                        @media (max-width: $mobile) {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}

.post-header {
    padding: 50px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
}

header.cat-header {
    padding: 40px;
    color: $gray;
    text-align: center;

    .post-header {
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .cat-subheader {
        font-weight: 400;
        font-size: 1.1em;
    }
}

.cats {
    padding-top: 10px;

    @media (max-width: $mobile) {
        line-height: 1.6rem;
    }

    a {
        color: $lt-gray;
        &:hover {
            color: $dd-blue;
        }
    }
}

.posts {
    padding-top: 50px;
    > * + .post {
        @media (max-width: $mobile) {
            border-top: 1px solid #cccccc;
        }
    }
    .post {
        padding: 20px 0;
        &:hover {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }
    }
}

.pagination {
    list-style-type: none;
    padding: 10px;
    a {
        color: $gray;
        &:hover {
            color: $dd-blue;
        }
    }
    .next {
        float: right;
    }
    .prev {
        float: left;
    }
}
