@import "./settings";

main {
    padding: 50px;
    @media (max-width: $mobile) {
        padding: 25px;
    }
}

.post-image {
    max-width: 30vw;
    @media (max-width: $mobile) {
        max-width: 75vw;
    }
}

.image-container {
    overflow: hidden;
    text-align: center;
}

.title-link {
    color: $gray;
    font-size: 2rem;
    padding: 5px 0;
    display: block;
        &:hover {
            color: $dd-blue;
        }
}

.date {
    color: $lt-gray;
    font-weight: lighter;
    padding-bottom: 15px;
}

.excerpt {
    font-size: 1.2rem;
    @media (max-width: $mobile) {
        line-height: 1.6rem;
    }
}

.home {
    .post {
        padding: 20px 0;
        @media (max-width: $mobile) {
            padding: 10px 0;
        }
        &:hover {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }
    }
}

main.home {
    .site-navigation {
        text-align: center;
        padding-bottom: 15px;
        i {
            font-size: 2rem;
            display: block;
        }
        .blog {
            color: $twitter;
            &:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }
        }
        .social-posts {
            color: $fb;
            &:hover {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.post-header {
    padding: 50px;
    color: $gray;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.cats {
    padding-top: 10px;

    @media (max-width: $mobile) {
        line-height: 1.6rem;
    }

    a {
        color: $lt-gray;
        &:hover {
            color: $dd-blue;
        }
    }
}

.posts {
    padding-top: 50px;
    .post {
        padding: 20px 0;
        &:not(:last-of-type) {
            @media (max-width: $mobile) {
                border-bottom: 1px solid #cccccc;
            }
        }
        &:hover {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }
    }
}

.pagination {
    list-style-type: none;
    padding: 10px;
    a {
        color: $gray;
        &:hover {
            color: $dd-blue;
        }
    }
    .next {
        float: right;
    }
    .prev {
        float: left;
    }
}
