@import "./settings";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

main {
    padding: 50px;
}

.post-image {
    max-width: 30vw;
}

.image-container {
    overflow: hidden;
    text-align: center;
}

.title-link {
    color: $gray;
    font-size: 2rem;
    padding: 5px 0;
    display: block;
        &:hover {
            color: $dd-blue;
        }
}

.date {
    color: $lt-gray;
    font-weight: lighter;
    padding-bottom: 15px;
}

.excerpt {
    font-size: 1.2rem;
}

.home {
    .post {
        padding: 20px 0;
    }
}

.cats {
    padding-top: 10px;

    a {
        color: $lt-gray;
        &:hover {
            color: $dd-blue;
        }
    }
}

.posts {
    padding-top: 50px;
}
