@import "./settings";

.post {
    h1 {
        color: $gray;
    }

    a.insta-link {
        padding-top: 15px;
        display: block;
        color: $instagram;
        font-size: 1.2rem;
    }

    .top-pad {
        padding-top: 25px;
    }

    a:hover {
        color: $dd-blue;
    }

    h2 {
        color: $lt-gray;
        font-weight: lighter;
        padding: 10px 0;
    }

    .content {
        ul.post-content {
            > li {
                @media (max-width: $mobile) {
                    margin-left: 25px;
                }
            }
        }
    }

    .no-style ul {
        list-style: none;
    }

    .image {
        img {
            max-width: 75vw;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        }
    }

    .video {
        width: 560px;
        height: 315px;
        @media (max-width: $mobile) {
            width: 75%;
        }
    }

    .author-image-container {
        margin: 0 auto;
        padding-top: 15px;
        img {
            width: 75px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
        }
    }

    .author-intro {
        font-style: italic;
        padding-bottom: 20px;
        font-size: 1.1rem;
        color: $gray;
    }

    .links {
        font-size: 1.2rem;
        li {
            padding: 5px 0;
        }
        padding-bottom: 20px;
    }

    .post-date {
        padding-top: 15px;
    }

    audio, canvas {
        display: block;
    }

    .content {
        padding: 50px;
        overflow: hidden;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: $mobile) {
            padding: 25px 0px;
            box-shadow: none;
        }
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

        @media (min-width: $mobile) {
            *, figure, :not(.image) {
                margin-right: auto;
                margin-left: auto;
                max-width: 700px;
            }
            .image, img {
                margin: auto;
                max-width: initial;
            }
        }
    }

    .time {
        padding-bottom: 15px;
        padding-top: 5px;
        color: $dd-blue;
        font-weight: bold;
    }

    .intro, .post-content, .resources-content {
        font-size: 1.2rem;
    }

    .post-content {
        padding: 20px 0;
    }

    .resources-container {
        margin-top: 50px;
        margin-bottom: 50px;
        border-top: 1px $dd-blue solid;
        border-bottom: 1px $dd-blue solid;
    }

    .resources-title {
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .resources-content {
        padding-bottom: 25px;
    }

    .highlight {
        padding: 20px;
        margin: 10px 0;
        background-color: black;
        color: white;
        border: $gray 1px solid;
        overflow: scroll;
        pre {
            background-color: inherit;
        }
        * {
            font-family: 'Inconsolata', monospace;
        }
        .c1 {
            color: lightgray;
        }
    }

    code {
        font-family: 'Inconsolata', monospace;
    }

    .camera-api {
        &--video {
            max-width: 50vw;
            border-radius: 25px;
        }
        &--button {
            border: 1px solid $dd-blue;
            padding: 10px;
            color: white;
            max-width: 50vw;
            background-color: $dd-blue;
            margin: 0 auto;
            cursor: pointer;
        }
        &--snapshot {
            margin-top: 5px;
            max-width: 50vw;
        }
        &--error-parent, &--code, &--hide, &--denied-parent {
            display: none;
        }
        &--error {
            color: red;
        }
        &--frame {
            background-color:#ddc;
            border:solid 5vmin #eee;
            border-bottom-color:#fff;
            border-left-color:#eee;
            border-radius:2px;
            border-right-color:#eee;
            border-top-color:#ddd;
            box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
            box-sizing:border-box;
            display: block;
            margin: 10px auto;
            padding:8vmin;
            position:relative;
            text-align:center;
            &:before {
                border-radius:2px;
                bottom:-2vmin;
                box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
                content:"";
                left:-2vmin;
                position:absolute;
                right:-2vmin;
                top:-2vmin;
            }
            &:after {
                border-radius:2px;
                bottom:-2.5vmin;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
                content:"";
                left:-2.5vmin;
                position:absolute;
                right:-2.5vmin;
                top:-2.5vmin;
                }
        }
    }
    #pie-canvas {
        left: -85px;
        position: relative;
    }
}
