<footer class="grid">
    <div class="col-12-middle center">
    <a href="https://instagram.com/thedevdiaries" class="social-media social-media--instagram" target="_blnk"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/the_dev_diaries" class="social-media social-media--twitter" target="_blnk"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/thedevdiaries" class="social-media social-media--facebook" target="_blnk"><i class="fab fa-facebook-square"></i></a>
    </div>
</footer>
