<div class="instagram" id="instafetch"></div>
<footer class="grid">
    <div class="col-10">
        <div class="form-container">
            <h1 class="grid capped">Submit A Tip</h1>
            <form class="tip-submit grid" action="https://formspree.io/your@email.com" method="POST">
                <input type="text" class="spaced col-3" name="name" placeholder="First Name" autofocus>
                <input type="text" class="col-3" name="instagram" placeholder="Instagram handle">
                <input type="email" class="col-6"  name="email" placeholder="E-mail Address">
                <textarea class="col-6 block" placeholder="Your tip"></textarea>
                <input class="col-3" type="submit" value="Send">
            </form>
        </div>
    </div>
    <div class="col-12-middle center">
    <a href="https://instagram.com/thedevdiaries" class="social-media social-media--instagram" target="_blnk"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/the_dev_diaries" class="social-media social-media--twitter" target="_blnk"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/thedevdiaries" class="social-media social-media--facebook" target="_blnk"><i class="fab fa-facebook-square"></i></a>
    </div>
</footer>
