{% for post in site.social-posts limit:5 %}
    <div class="post col-12 grid">
        <div class="col-6_sm-12-middle image-container">
            <a href="{{ post.url }}"><img class="post-image" src="{{post.image}}"></a>
        </div>
        <div class="side col-6_sm-12">
            <h2><a href="{{ post.url }}" class="title-link">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
            <div class="cats">
                {% for category in post.categories %}
                <!--<a href="/category/{{ category | slugize }}/">#{{ category }}</a>-->
                #{{ category }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

