@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@import url("https://fonts.googleapis.com/css?family=Amiri");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiri', serif;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

main {
  padding: 50px; }
