* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

main {
  padding: 50px; }

.post-image {
  max-width: 30vw; }

.image-container {
  overflow: hidden;
  text-align: center; }

.title-link {
  color: #707070;
  font-size: 2rem;
  padding: 5px 0;
  display: block; }
  .title-link:hover {
    color: #7ABFE8; }

.date {
  color: #AEAEAE;
  font-weight: lighter;
  padding-bottom: 15px; }

.excerpt {
  font-size: 1.2rem; }

.home .post {
  padding: 20px 0; }

.cats {
  padding-top: 10px; }
  .cats a {
    color: #AEAEAE; }
    .cats a:hover {
      color: #7ABFE8; }

.posts {
  padding-top: 50px; }
