.post h1 {
  color: #707070; }

.post a.insta-link {
  padding-top: 15px;
  display: block;
  color: #8a3ab9;
  font-size: 1.2rem; }

.post .top-pad {
  padding-top: 25px; }

.post a:hover {
  color: #7ABFE8; }

.post h2, .post h3 {
  color: #AEAEAE;
  padding: 10px 0; }

@media (max-width: 48em) {
  .post .content ul.post-content > li {
    margin-left: 25px; } }

.post .content li > ul {
  left: 3em;
  position: relative; }

.post .no-style ul {
  list-style: none; }

.post .image img {
  max-width: 75vw;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.post .video {
  width: 560px;
  height: 315px; }
  @media (max-width: 48em) {
    .post .video {
      width: 75%; } }

.post .author-image-container {
  margin: 0 auto;
  padding-top: 15px; }
  .post .author-image-container img {
    width: 75px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%; }

.post .author-intro {
  font-style: italic;
  padding-bottom: 20px;
  font-size: 1.1rem;
  color: #707070; }

.post .links {
  font-size: 1.2rem;
  padding-bottom: 20px; }
  .post .links li {
    padding: 5px 0; }

.post .post-date {
  padding-top: 15px; }

.post .content {
  padding: 50px;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }
  @media (max-width: 48em) {
    .post .content {
      padding: 25px 0px;
      box-shadow: none; } }
  @media (min-width: 48em) {
    .post .content *, .post .content figure, .post .content :not(.image) {
      margin-right: auto;
      margin-left: auto;
      max-width: 700px; }
    .post .content .image, .post .content img {
      margin: auto;
      max-width: initial; } }

.post .time {
  padding-bottom: 15px;
  padding-top: 5px;
  color: #7ABFE8;
  font-weight: bold; }

.post .intro, .post .post-content, .post .resources-content {
  font-size: 1.2rem; }

.post .post-content {
  padding: 20px 0; }

.post .resources-container {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px #7ABFE8 solid;
  border-bottom: 1px #7ABFE8 solid; }

.post .resources-title {
  padding-top: 25px;
  padding-bottom: 5px; }

.post .resources-content {
  padding-bottom: 25px; }

.post .highlight {
  padding: 20px;
  margin: 10px 0;
  background-color: black;
  color: white;
  border: #707070 1px solid;
  overflow: scroll; }
  .post .highlight pre {
    background-color: inherit; }
  .post .highlight * {
    font-family: 'Inconsolata', monospace; }
  .post .highlight .c1 {
    color: lightgray; }

.post .camera-api--video {
  max-width: 50vw;
  border-radius: 25px; }

.post .camera-api--button {
  border: 1px solid #7ABFE8;
  padding: 10px;
  color: white;
  max-width: 50vw;
  background-color: #7ABFE8;
  margin: 0 auto;
  cursor: pointer; }

.post .camera-api--snapshot {
  margin-top: 5px;
  max-width: 50vw; }

.post .camera-api--error-parent, .post .camera-api--code, .post .camera-api--hide, .post .camera-api--denied-parent {
  display: none; }

.post .camera-api--error {
  color: red; }

.post .camera-api--frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: block;
  margin: 10px auto;
  padding: 8vmin;
  position: relative;
  text-align: center; }
  .post .camera-api--frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin; }
  .post .camera-api--frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin; }

.post #pie-canvas {
  left: -85px;
  position: relative; }
