---
layout: default
pagination:
  sort_reverse: true
---

<main>
    {% include page-header.html %}

    <header class="cat-header">
        <h1 class="post-header">#{{page.autopage.display_name}}</h1>
        {% assign catData = site.data.cats[page.autopage.display_name] %}
        {% if catData %}
            <h2 class="cat-subheader">{{ catData.description }}</h2>
            {% if catData.pinterest %}
            <h2>
            <h2 class="cat-subheader">
                Check out our <a href="{{ catData.pinterest }}" target="_blank">pinterest page</a> dedicated to {{page.autopage.display_name}} as well! <br>
                <a href="{{ catData.pinterest }}" target="_blank"><img src="/assets/images/pinterest.png"></a>
            </h2>
            {% endif %}
        {% endif %}
    </header>

    <div class="posts">
        {% for post in paginator.posts %}
            {% if post.type == 'SocialPosts' %}
              {% include social-media-post.html %}
            {% else %}
              {% include blog-post.html %}
            {% endif %}

            {% if post.type == 'SocialPosts' %}
              {% assign blog = post %}
            {% endif %}
        {% endfor %}

        {% include pagination.html %}
    </div>
</main>

{% include footer.html %}
