<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dev Diaries | {{ page.title}}</title>
        <meta name="description" content="Dev diaries is a development community providing daily tips and tricks about web development. Learn about how to become a better dev, and get a refreshed perspective on what it means to be a web developer. We share daily web development tips on Instagram, Twitter, Facebook, & Pinterest. {% if page.excerpt %} {{page.excerpt}}{% endif %}{% if site.data.cats[page.autopage.display_name]%}{{ site.data.cats[page.autopage.display_name].description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="p:domain_verify" content="d1c9dbf49c6487a2d54deb9f5445d9f6"/>

        <link rel="stylesheet" href="/assets/css/monokai.css">
        <link rel="stylesheet" href="/assets/css/app.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {{ content }}

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134946352-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-134946352-1');
        </script>
        <script>
            var instagrams = [
                {% assign social-posts = site.social-posts | sort: 'date' | reverse %}
                {% for post in social-posts limit:10 %}
                {
                    "id": "{{ post.instagram-id }}",
                    "url": "{% if post.redirect-link %}{{post.redirect-link}}{% else %}{{ post.url }}{% endif %}"
                }
                {% unless forloop.last %},{% endunless %}
                {% endfor %}
            ];
            var documents = [];
            {% for post in site.posts %}
                var doc = {
                    excerpt: "{{ post.excerpt }}",
                    title: "{{ post.title }}",
                    type: "{{ post.title }}",
                    categories: [{% for category in post.categories %} "{{ category }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
                    image: "{{ post.image }}",
                    date: "{{ post.date }}"
                };
                documents.push(doc);
            {% endfor %}
            {% for post in site.social-posts %}
                var socialDoc = {
                    excerpt: "{{ post.excerpt }}",
                    title: "{{ post.title }}",
                    type: "{{ post.title }}",
                    categories: [{% for category in post.categories %} "{{ category }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
                    image: "{{ post.image }}",
                    coverImage: "{{ post.cover-image }}",
                    date: "{{ post.date }}",
                    docs: {% if post.docs %}"{{ post.docs }}"{% else %}null{% endif %},
                    instagram: "{{ post.instagram-id }}"
                };
                documents.push(socialDoc);
            {% endfor %}
        </script>
        <script type="text/javascript" src="/assets/js/instafetch.min.js"></script>
        <script type="text/javascript" src="/assets/js/lunr.min.js"></script>
        <script type="text/javascript" src="/assets/js/search.js"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
        <script type="text/javascript" src="/assets/js/insta.js"></script>
    </body>
</html>
