<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Dev Diaries | {{ page.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {{ content }}
        <nav>
            <ul>
                <li><a href="/tips">Tips</a></li>
                <li><a href="/getting-started">Getting Started</a></li>
                <li><a href="/how-to-guides">How to Guides</a></li>
            </ul>
        </nav>
        <script src=""></script>
    </body>
</html>
