---
layout: default
---
<main class="post">
    {% include page-header.html %}

    <div class="content js-content">
        {{content}}

        <div class="cats">
            {% for category in page.categories %}
                <a href="/tags/{{ category | slugize }}/">#{{ category }}</a>
            {% endfor %}
        </div>
    </div>
</main>

{% include footer.html %}

<script src="/assets/js/reading-time.js"></script>
{% if page.script %}
    <script src="{{page.script}}"></script>
{% endif %}
